VITE_SUPABASE_URL=请填写supabase项目地址
VITE_SUPABASE_ANON_KEY=请填写anon密钥
VITE_PROD_SUPABASE_URL=请填写生产环境supabase项目地址
VITE_PROD_SUPABASE_ANON_KEY=请填写生产环境anon密钥
VITE_DEV_SUPABASE_URL=请填写开发环境supabase项目地址
VITE_DEV_SUPABASE_ANON_KEY=请填写开发环境anon密钥